.layout {
  width: 20rem;
  height: 40rem;
  padding: 1.5rem;
  border-radius: 1.5rem;
  background-color: #f1f3f5;
  color: #285fb3;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.layout::-webkit-scrollbar {
  display: none;
}
